@import bourbon/bourbon
@import neat/neat
@import ../../libs/sidekick-assets/sass/base
@import ../../libs/sidekick-assets/sass/forms
@import ../../libs/sidekick-assets/sass/nav

$grab: #f65f40

$grey_area: #e6e6e6 

=icon
  width: 64px
  height: 75px

a[href]:hover
  text-decoration: none

=contrast_link
  color: #fff

/* front page */
.frontpage

  p
    font-size: 1rem
    color: #555
  h3
    font-weight: 800
    margin-bottom: 1rem

  header
    min-height: 560px
    +media($small)
      min-height: 0
    .content
      position: relative
    h3
      margin-top: 0
    img
      position: absolute
      top: -20px

  .mast
    margin: 6rem 0
    +media($small)
      margin: 2rem 0 2rem 0
    +span-columns(4)
    float: left
    +media($medium)
      float: none
      +span-columns(6)
    +media($small)
      float: none
      +span-columns(4)
    h1
      font-size: 1.5rem
      color: #888
      margin-bottom: 2rem
    h3
      font-size: 2.5rem
      margin-bottom: 0
      font-weight: 800
    .signup
      +action_button()
      +button_background($grab)
      font-size: 1.25rem
      box-shadow: 0 3px 0 #ccc
      padding: 1rem 2rem

  section
    padding: 2rem 0
    +media($small)
      padding: 0.5rem

  .benefits_testimonials
    +row()

    .header
      .icon, .portrait
        +icon()
        float: left
        margin-right: 1rem
      h3
        margin-top: 0
      min-height: 6rem
      +media($small)
        min-height: 0
      overflow: auto

    p
      color: #222
      width: 80%
      +media($small)  
        margin: 1rem 0

  section.testimonials
    +span-columns(4)
    position: relative
    text-align: center
    top: 2em
    +media($small)
      text-align: left
      position: static
      +span-columns(4)
      background: #fff
    +media($not-small)
      .testimonial
        h3
          color: #fff
      a[href]
        &, &:hover, &:visited
        color: #fff
    .testimonial
      p
        +media($not-small)
          margin: 1rem auto 0 auto
      margin-bottom: 1rem
      +media($not-small)
        .portrait
          float: none
          margin: 0 auto

  section.benefits
    +span-columns(8)
    +media($small)
      +span-columns(4)
    .benefit
      +span-columns(5)
      +media($small)
        +span-columns(4)
    

  header, .features_users
    background: $grey_area
  .content
    +outer-container()
    @media (max-width: 80em)
      padding-left: 1em

  .features_users
    +row()
    section.features
      h2
        clear: both
      img
        width: 400px
        height: 110px
      +media($small)
        img
          height: 77px
          width: 280px
      overflow: auto
      +span-columns(12) 
      +media($medium)
        +span-columns(12)
      .feature
        +span-columns(6)
        +media($medium)
          +span-columns(12)
        .img_placeholder
          background: #ddd
          height: 160px

    section.users
      +span-columns(4) 
      +media($medium)
        +span-columns(12)
      ul
        list-style-type: none
        padding: 0
        font-size: 2rem
    a
      display: block
      +span-columns(12)


  section.pricing
    /* presentation */
    a
      +contrast_link()
    background: $grab
    h3
      color: $grab
      text-transform: uppercase
      font-weight: 600
    .oss
      font-size: 1.25rem
      margin-top: 2rem
      display: inline-block
    .pricing
      background: $grey_area
      text-transform: uppercase
      padding: 0.5rem
    .service a
      +action_button()
      +button_background(#888)
      color: #fff
      padding: .5rem 1rem
      font-size: 0.8rem
      display: inline-block
    .focus a
      +button_background($contrast)
    .service
      text-align: center
      background: #fff
      border-radius: 4px
    /* layout */
    +row()
    padding-bottom: 4rem
    +media($small)
      .service
        padding-bottom: 1rem
        padding-top: 0.5rem
        margin-bottom: 1rem
    +media($not-small)
      .plan
        width: 60%
        margin: 0 auto
        height: 4rem
      .service
        float: left
        width: 16rem
        margin-right: 1rem
        height: 18rem
        margin-top: 1rem
      .focus
        height: 20rem
        margin-top: 0
        padding-top: 1rem
      .services
        width: 51rem
        margin: 0 auto
        overflow: auto

  .testimonials
    background: $contrast

.frontpage .main
  .block_list div
    margin-right: 2%
    clear: left
    &:nth-child(2n)
      margin-right: 0
      clear: none

