---
title: SidekickJS - Javascript code quality tool
body_class: "frontpage"
---

<%= render "partials/nav" %>

<header>
  <div class=content>
    <div class=mast>
      <h3>Be proud of your team's code</h3>
      <h1 class=long>SidekickJS tracks code quality to keep your team productive & happy</h1>
      <a class=signup href="/signup">Start today</a>
    </div>
    <% alt = "A development team happy their code quality is high, helped by SidekickJS" %>
    <span data-picture data-alt="<%= alt %>">
      <span data-src="<%= @config[:base_url] %>/img/top_image.png" data-media="(min-width: 801px)"></span>
      <span data-src="<%= @config[:base_url] %>/img/top_image_small.png" data-media="(max-width: 800px) AND (min-width: 481px)"></span>
      <noscript>
        <img src="<%= @config[:base_url] %>/img/top_image.png" width=600 alt="<%= alt %>">
      </noscript>
    </span>
  </div>
</header>

<div class=main>

  <div class=benefits_testimonials>
    <div class=content>
      <section class=benefits>
        <div class=all>
          <h2>What does SidekickJS do for you?</h2>
          <div class=block_list>
            <div class=benefit>
              <div class=header>
                <img class=icon src="<%= @config[:base_url] %>/img/icons/quality.png" alt="Developers love to write great code - challenge them to">
                <h3>Your team loves a challenge: keep the bar high</h3> 
              </div>
              <p class=long>Great teams produce great work. Show you're dedicated to writing great code, and your team will rise to the challenge.</p>
            </div>
            <div class=benefit>
              <div class=header>
                <img class=icon src="<%= @config[:base_url] %>/img/icons/ego.png" alt="Don't upset people with code review - let objective tools start conversations">
                <h3>No hurt egos in code-review</h3> 
              </div>
              <p class=long>Code-review can feel personal if you pick up on the same issues again and again. Sidekick automatically annotates the easy stuff so you can concentrate on mentoring.</p>
            </div>
            <div class=benefit>
              <div class=header>
                <img class=icon src="<%= @config[:base_url] %>/img/icons/boss.png" alt="Explain to non-technical people why you need to refactor with an objective measure of code-quality">
                <h3>Your boss will let you refactor</h3> 
              </div>
              <p class=long>Your boss can have a hard time seeing why you should spend time on existing code. Tracking technical debt provides accountability, and gets you your cleanup sprint.</p>
            </div>
          </div>
        </div>
      </section>
      <section class=testimonials>
        <div class=testimonial>
          <div class=header>
            <img src="<%= @config[:base_url] %>/img/people/rob.png" class=portrait alt="Rob Chandler, Web Developer at Believe.in">
            <h3>Rob Chandler - Believe.in</h3>
          </div>
          <p>Sidekick's Github integration means it fits in with our workflow, and has found technical debt we could have missed without it.</p>
        </div>
      </section>
    </div>
  </div>

  <div class=features_users>
    <div class=content>
      <section class=features>
        <h2>Features</h2>
        <div class=block_list>
          <div class=feature>
            <img src="<%= @config[:base_url] %>/img/screenshots/repetition.png" >
            <h3>Repetition detection</h3>
            <p>Keep your code DRY and you'll not need to fix the same bug twice. SidekickJS's repetition detection is smart enough to see even structural repetition - regardless of the words or formatting.</p>
          </div>
          <div class=feature>
            <img src="<%= @config[:base_url] %>/img/screenshots/complexity.png" >
            <h3>Complexity analysis</h3>
            <p>It's sometimes hard to know when your code is complex - metrics flag any areas that are becoming a problem.</p>
          </div>
          <div class=feature>
            <img src="<%= @config[:base_url] %>/img/screenshots/lint.png" >
            <h3>JSHint</h3>
            <p>The baseline: keep a house style, and spot potential dangers before they cause bugs.</p>
          </div>
          <div class=feature>
            <img src="<%= @config[:base_url] %>/img/screenshots/todos.png" >
            <h3>TODO tracking</h3>
            <p>TODOs and FIXMEs are broken windows - don't let your codebase rot. Track, prioritise and fix.</p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <section class=pricing>
    <div class=content>
      <h2>Pricing</h2>
      <div class=services>
        <div class=service>
          <h3>Solo</h3>
          <p class=plan>Up to two active developers</p>
          <p class=pricing>
            £7 / month
          </p>
          <a href="/plan/solo">Select</a>
        </div>
        <div class='service focus'>
          <h3>Team</h3>
          <p class=plan>Up to 10 active developers</p>
          <p class=pricing>
            £50 / month
          </p>
          <a href="/plan/team">Select</a>
        </div>
        <div class=service>
          <h3>Big Team</h3>
          <p class=plan>Up to 40 active developers</p>
          <p class=pricing>
            £275 / month
          </p>
          <a href="/plan/big">Select</a>
        </div>
        <script>
        </script>
      </div>
      <a class=oss href="/users/sign_up">Open source - free forever!</a>
    </div>
  </section>
</div>

<script src="<%= @config[:base_url] %>/js/picturefill.js"></script>
<script src="<%= @config[:base_url] %>/js/front.js"></script>
