<nav>
  <div class=content>
    <div class=logo>
      <a href="http://www.sidekickjs.com">
        <h2>Sidekick<span class=lang>JS</span></h2>
        <img src="/shared/img/large-border-head.svg" height=105>
      </a>
    </div>
  </div>
</nav>
