<div class=footer>
  <a id=cta_footer class=sk-link href="https://www.sidekickjs.com">Write Javascript? Be proud of your team's code with SidekickJS</a>
  <script>
    var messages = [
      "Write Javascript? Keep it beautiful with SidekickJS",
      "Be proud of your team's code with our tool - SidekickJS",
      "We make a code quality tool for Javascript - try it out!",
      "Be proud of your team's code with our JS code-quality tool",
      "Boss doesn't let you refactor? Try our tool, SidekickJS",
      "Forever saying the same thing in code-review? Try SidekickJS!"
    ];
    var message = messages[Math.random() * messages.length | 0];
    document.getElementById("cta_footer").innerText = message;
    ga("_setCustomVar",1,"copy",message,1);
  </script>
  <% 
  require "cgi"
  path = if id = item[:hn_id]
    "item?id=#{id}"
  else
    "submitlink?u=#{CGI.escape url_for(item)}&t=#{CGI.escape item[:title]}"
  end
  url = "https://news.ycombinator.com/#{path}"
  %>
  <div class=links>
    <a class=hn href='<%= url %>'>Discuss<%= item[:hn_karma] ? " (#{item[:hn_karma]})" : "" %></a>
    <a class=rss href='/rss' alt="Feed of posts">Feed</a>
    <a class=twitter href='https://www.twitter.com/sidekicksrc' alt="Follow us">@sidekicksrc</a>
  </div>
  <% if item[:has_tests] %>
    <script>
      var prettifierLoad = (function() {
        var cbs = []
        var loaded = false
        return {
          q: function(cb) { 
            loaded ? cb() : cbs.push(cb) 
          },
          loaded: function() {
            loaded = true
            cbs.forEach(function(cb) { cb() }) 
          }
        }
      })()
      head.js("/js/vendor/mocha.js","/js/blog_unit.js",function() {
        Bu.prepareForReading()
        prettifierLoad.q(function() {
          Bu.setPrettifier(function(el) {
            var fixTabs = true
            hljs.highlightBlock(el,fixTabs)
          })
        })
      })
    </script>
  <% end %>
  <% if item[:has_tests] || item[:has_code] %>
    <script>
      head.load("/highlight/styles/github.css")
      head.js("/highlight/highlight.js",function() {
        prettifierLoad.loaded()
      })
    </script>
  <% end %>
  <% notes = item[:footnote_html] %>
  <% if notes %>
    <div class=footnotes>
      <h4>Footnotes</h4>
      <ul><%= notes %></ul>
    </div>
  <% end %>
  <script>
    var idicatorClass = "highlit_by_url";
    var highlightViewed = function() {
      var current = document.querySelector("." + idicatorClass);
      if(current) current.classList.remove(idicatorClass);
      var id = window.location.hash;
      if(!id) return;
      id = id.slice(1);
      var el = document.getElementById(id);
      if(el) el.classList.add(idicatorClass)
    };
    highlightViewed();
    window.addEventListener("hashchange",highlightViewed);
  </script>
</div>
