<%= render "partials/doc_start" %>

  <%= render "partials/nav" %>

  <div class=page>

    <header>
      <h1 class=content><%= item[:title] %></h1>
    </header>

    <article>

      <div class=content>
        <section class=quick>
          <%= item[:quick] %>
        </section>
        <section class=body>
          <%= yield %>
        </section>
      </div>

      <% if item[:resources] %>
        <h3>Resources</h3>
        <ul>
          <% resource_links(item[:resources] || [],@item).each do |link| %>
            <li><%= link %></li>
          <% end %>
        </ul>
      <% end %>

      <% if item[:aliases] %>
        <h3>Also know as</h3>
        <ul>
          <% (item[:aliases] || []).each do |a| %>
            <li><%= a %></li>
          <% end %>
        </ul>
      <% end %>


    </article>
  </div>
<%= render "partials/doc_end" %>
